@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&display=swap');

*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Special Gothic Expanded One'
}

html {
    scroll-behavior: smooth;
}

.logo img{
    width: 80px;
}

.logo{
    display: flex;
    color: #ad3d3d;
    align-items: center;
}

header{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 3px solid #a85858;
}

header a{
    color: rgb(0, 0, 0);
    text-decoration: none; 
}

.icons{
    display: flex;
    align-items: center;
    margin-right: 15px;
    gap: 15px;
}

.icons img{
    width: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.secao1{
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(60deg, #ad3d3d 50%, #6e4646 30%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 16px;
}

.secao1 h1{
    font-family: 'Poppins';
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 38px;
}

.secao1 img{
    min-width: 200px;
    max-width: 700px;
    padding: 10px;
    margin-left: 20px;
}

.secao2{
    min-height: 100vh;
    background-color: #c8ca3a;
}

.secao3{
    min-height: 100vh;
    background-color: #7e2626;
}

footer{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #ad3d3d;
}

h2{
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'poppins';
    scroll-margin-top: 80px;
}

.content2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    margin-left: 40px;
    margin-right: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    cursor: pointer;
}

.card img{
    width: 120px;
    display: block;
    margin: auto;
    padding: 8px;
}

.card:hover{
    transform: translateY(-10px);
}

.content3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 40px
}

.avaliacao{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;  
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 858px) {
    header{
        position: relative;
    }

    header a{
        display: none;
    }

    .secao1{
        background: linear-gradient( #ad3d3d 100%, #6e4646 0%);
        font-size: 15px;
    }

    h1{
        font-size: 17px;
    }

    .content2 {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 16px;
        padding: 18px;
        font-size: 12px;
    }

    .content2 .card:nth-child(n+4) {
        display: none;
    }

    .content3 .avaliacao:nth-child(n+4){
        display: none;
    }

    .content3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
}
